<div class="card card-body p-4 round bg-dark text-white">
    <h3>New Task</h3>
    <form action="/tasks/add" method="POST">

        <div class="mb-3">
            <label for="title">Add a task</label>
            <input id="title" class="form-control rounded-0 bg-dark text-white" type="text" name="title"
                placeholder="Title" autofocus />
        </div>
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea class="form-control rounded-0 bg-dark text-white" name="description" cols="80"
                placeholder="Add a Description"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>